<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521282390155-ru866mud7a9dp1pv0ahpb2n36vb5nolg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521282390155-ru866mud7a9dp1pv0ahpb2n36vb5nolg</string>
	<key>API_KEY</key>
	<string>AIzaSyClm-luWXUmAuaGVRVyr0gXC4y9lQNoTMo</string>
	<key>GCM_SENDER_ID</key>
	<string>521282390155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.tuist.ColloqLockApp</string>
	<key>PROJECT_ID</key>
	<string>colloqlock</string>
	<key>STORAGE_BUCKET</key>
	<string>colloqlock.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:521282390155:ios:e5d74d675921bd95a8ec8e</string>
</dict>
</plist>
